<mat-card class="custom-card">
  <mat-card-header>
    <mat-card-title>{{ person.name }}</mat-card-title>
    <mat-card-subtitle>password: {{ person.password }}</mat-card-subtitle>
  </mat-card-header>
  <img
    *ngIf="person.role == 'ROLE_STUDENT'"
    mat-card-image
    src="../../assets/images/avatar1.png"
    alt="avatar"
  />
  <img
    *ngIf="person.role == 'ROLE_GUEST'"
    mat-card-image
    src="../../assets/images/avatar2.png"
    alt="avatar"
  />
  <img
    *ngIf="person.role == 'ROLE_INSTRUCTOR'"
    mat-card-image
    src="../../assets/images/avatar3.png"
    alt="avatar"
  />
  <img
    *ngIf="person.role == 'ROLE_ADMIN'"
    mat-card-image
    src="../../assets/images/avatar4.png"
    alt="avatar"
  />
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan.
    </p>
    <p>{{ person.role }}</p>
  </mat-card-content>
</mat-card>
