<h1>Kurzusok</h1>

<div
  *ngIf="
    (user && user.role === 'ROLE_INSTRUCTOR') ||
    (user && user.role === 'ROLE_ADMIN')
  "
  class="admin-section"
>
  <button mat-raised-button (click)="openDialog()">Új kurzus</button>
</div>

<div class="centered flex-wrap-container" style="padding: 20px 0">
  <mat-card class="custom-card" *ngFor="let course of courses">
    <mat-card-header>
      <mat-card-title>{{ course.title }}</mat-card-title>
      <button
        *ngIf="
          (user && user.role === 'ROLE_INSTRUCTOR') ||
          (user && user.role === 'ROLE_ADMIN')
        "
        mat-raised-button
        color="warn"
        style="margin: 0 0 30px auto"
        (click)="deleteCourse(course.id)"
      >
        Törlés
      </button>
    </mat-card-header>
    <img
      *ngIf="course.title === 'kresz'"
      mat-card-image
      src="../../assets/images/kresz.png"
      alt="logo"
    />
    <img
      *ngIf="course.title === 'elsősegély'"
      mat-card-image
      src="../../assets/images/elsosegely.jpeg"
      alt="logo"
    />
    <mat-card-content>
      <p>kezdete: {{ course.startDate | date: "shortDate" }}</p>
      <p>vége: {{ course.finishDate | date: "shortDate" }}</p>
      <div
        *ngIf="
          (user && user.role === 'ROLE_INSTRUCTOR') ||
          (user && user.role === 'ROLE_ADMIN')
        "
      >
        tanulók:
        <span *ngFor="let student of course.users">{{ student.name }}, </span>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        *ngIf="user && user.role === 'ROLE_STUDENT'"
        mat-raised-button
        (click)="addUserToCourse(course.id)"
      >
        Jelentkezem
      </button>
    </mat-card-actions>
  </mat-card>
</div>
