<h1>Naptáram</h1>

<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
  "
>
  <div *ngIf="weeks">hét száma:</div>
  <button
    mat-raised-button
    *ngFor="let week of weeks"
    (click)="setWeekNum(week.number)"
    style="margin: 0 20px"
    [ngStyle]="{
      border: selectedWeekNum === week.number ? '2px solid gray' : ''
    }"
  >
    {{ week.number }}
  </button>
</div>
<app-time-picker
  [workWeek]="workWeek?.workDays"
  [instructor]="authUser"
></app-time-picker>
