<form [formGroup]="profileForm" *ngIf="!success && !error">
  <div>
    <h1>Bejelentkezés</h1>
    <mat-form-field>
      <mat-label>Felhasználónév</mat-label>
      <input
        matInput
        placeholder="pl: Tóth Imre"
        type="text"
        formControlName="userName"
      />
    </mat-form-field>
  </div>
  <div
    *ngIf="userName.invalid && (userName.dirty || userName.touched)"
    class="alert alert-danger"
  >
    <div *ngIf="userName.errors?.required">Név megadása kötelező</div>
    <div *ngIf="userName.errors?.minlength">
      A névnek legalább 3 betű hosszúnak kell lennie.
    </div>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Jelszó</mat-label>
      <input
        matInput
        placeholder="pl: xxxxxx :)"
        type="password"
        formControlName="password"
      />
    </mat-form-field>
  </div>
  <button mat-raised-button (click)="submit()">Regisztrálok</button>
</form>

<div *ngIf="success">
  <div class="centered home">
    <img src="./assets/images/svg/smiley.svg" alt="" />
    <h1>Siker</h1>
    <p>Sikeresen regisztráltál!</p>
  </div>
</div>

<div *ngIf="error">
  <div class="centered home">
    <img src="./assets/images/svg/sad-face.svg" alt="sad_face" />
    <h1>Baj van.</h1>
    <p>Valami baj történt!</p>
  </div>
</div>
