<div id="header">
  <div class="flex-container">
    <div id="logo">
      <a [routerLink]="['/home']" (click)="isOpen = false">AUTÓSISKOLA</a>
    </div>
    <div id="nav-icon4" (click)="toggleOpen()" [ngClass]="{ open: isOpen }">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav>
      <ul>
        <li>
          <a [routerLink]="['/home']" routerLinkActive="active">Kezdőoldal</a>
        </li>
        <li>
          <a
            *ngIf="!isAuthenticated"
            [routerLink]="['/register']"
            routerLinkActive="active"
            >Regisztrálok</a
          >
        </li>
        <li>
          <a [routerLink]="['/courses']" routerLinkActive="active">Kurzusok</a>
        </li>
        <li>
          <a [routerLink]="['/exams']" routerLinkActive="active">Vizsgák</a>
        </li>
        <li *ngIf="isAuthenticated">
          <a [routerLink]="['/users']" routerLinkActive="active"
            >Felhasználók</a
          >
        </li>
        <li *ngIf="isAuthenticated">
          <a [routerLink]="['/apply']" routerLinkActive="active"
            >Órára jelentkezek</a
          >
        </li>
        <li *ngIf="!isAuthenticated">
          <a [routerLink]="['/login']" routerLinkActive="active"
            >Bejelentkezek</a
          >
        </li>
        <li *ngIf="isAuthenticated">
          <a (click)="logout()">Kijelentkezek</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<nav class="hamburger-menu-nav" [ngClass]="{ open: isOpen }">
  <ul>
    <li>
      <a
        [routerLink]="['/home']"
        routerLinkActive="active"
        (click)="toggleOpen()"
        >Kezdőoldal</a
      >
    </li>
    <li *ngIf="!isAuthenticated">
      <a
        [routerLink]="['/register']"
        routerLinkActive="active"
        (click)="toggleOpen()"
        >Regisztrálok</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/courses']"
        routerLinkActive="active"
        (click)="toggleOpen()"
        >Kurzusok</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/exams']"
        routerLinkActive="active"
        (click)="toggleOpen()"
        >Vizsgák</a
      >
    </li>
    <li *ngIf="isAuthenticated">
      <a
        [routerLink]="['/users']"
        routerLinkActive="active"
        (click)="toggleOpen()"
        >Felhasználók</a
      >
    </li>
    <li *ngIf="isAuthenticated">
      <a [routerLink]="['/apply']" routerLinkActive="active"
        >Órára jelentkezek</a
      >
    </li>
    <li *ngIf="!isAuthenticated">
      <a
        [routerLink]="['/login']"
        routerLinkActive="active"
        (click)="toggleOpen()"
        >Bejelentkezek</a
      >
    </li>
    <li *ngIf="isAuthenticated">
      <a (click)="logout()">Kijelentkezek</a>
    </li>
  </ul>
</nav>
