<div class="flex-container">
  <div id="logo">
    <a [routerLink]="['/home']">AUTÓSISKOLA</a>
  </div>
  <nav>
    <ul>
      <li>
        <a [routerLink]="['/home']" routerLinkActive="active">Kezdőoldal</a>
      </li>
      <li>
        <a [routerLink]="['/register']" routerLinkActive="active"
          >Regisztrálok</a
        >
      </li>
      <li>
        <a [routerLink]="['/courses']" routerLinkActive="active">Kurzusok</a>
      </li>
      <li>
        <a [routerLink]="['/exams']" routerLinkActive="active">Vizsgák</a>
      </li>
    </ul>
  </nav>
</div>
