<div class="time-picker__table">
  <div style="margin-top: 20px">
    <div class="date date--title">8:00 - 9:45</div>
    <div class="date date--title">8:00 - 9:45</div>
    <div class="date date--title">8:00 - 9:45</div>
    <div class="date date--title">8:00 - 9:45</div>
  </div>
  <div *ngFor="let day of dateTable">
    <div class="date--title">
      {{ day.name }}
    </div>
    <div *ngFor="let class of day.classes">
      <div *ngIf="class.isFree" class="date date--free">
        <button mat-raised-button>jelentkezek</button>
      </div>
      <div *ngIf="!class.isFree" class="date date--occupied">foglalt</div>
    </div>
  </div>
</div>
