<h1>Felhasználók</h1>

<div class="centered flex-wrap-container" style="padding: 20px 0">
  <mat-card class="custom-card" *ngFor="let user of userList">
    <mat-card-header>
      <mat-card-title>{{ user.name }}</mat-card-title>
      <mat-card-subtitle>password: {{ user.password }}</mat-card-subtitle>
    </mat-card-header>
    <img
      *ngIf="user.role == 'ROLE_STUDENT'"
      mat-card-image
      src="../../assets/images/avatar1.png"
      alt="avatar"
    />
    <img
      *ngIf="user.role == 'ROLE_GUEST'"
      mat-card-image
      src="../../assets/images/avatar2.png"
      alt="avatar"
    />
    <img
      *ngIf="user.role == 'ROLE_INSTRUCTOR'"
      mat-card-image
      src="../../assets/images/avatar3.png"
      alt="avatar"
    />
    <img
      *ngIf="user.role == 'ROLE_ADMIN'"
      mat-card-image
      src="../../assets/images/avatar4.png"
      alt="avatar"
    />
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan.
      </p>
      <p>{{ user.role }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>Adatlap</button>
      <button *ngIf="user.role == 'ROLE_GUEST'" mat-raised-button>
        Tanulóvá teszem
      </button>
    </mat-card-actions>
  </mat-card>
</div>
