@import "./assets/scss/reset.scss";
@import "./assets/scss/global.scss";
@import "./assets/scss/header.scss";
@import "./assets/scss/footer.scss";
@import "./assets/scss/home.scss";
@import "./assets/scss/scroll-to-top.scss";
@import "./assets/scss/time-picker.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
