/* You can add global styles to this file, and also import other style files */

@import "./assets/scss/reset.scss";
@import "./assets/scss/header.scss";
@import "./assets/scss/footer.scss";
@import "./assets/scss/home.scss";

html,
body {
  height: 100%;
  font-family: "Noto Sans", sans-serif;
}

#main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#header {
  display: flex;
}

#main-content {
  flex: 1 0 auto;
  background-color: $bg-color;
  padding: 20px;
}

#footer {
  flex-shrink: 0;
}

.flex-container {
  display: flex;
  flex-shrink: 1;
  width: 100%;
}
