<h1>Vizsgák</h1>

<div class="centered flex-wrap-container" style="padding: 20px 0">
  <mat-card class="custom-card" *ngFor="let exam of examList">
    <mat-card-header>
      <mat-card-title>{{ exam.title }}</mat-card-title>
      <mat-card-subtitle>{{ exam.examDate }}</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>Jelentkezem</button>
    </mat-card-actions>
  </mat-card>
</div>
