@import "colors";

#footer {
  background-color: $secondary-color;
  color: $bg-color;
  padding: 10px 20px;

  min-height: 60px;
  clip-path: polygon(0% 40%, 100% 0, 100% 100%, 0% 100%);
  margin-top: -60px;
}

.footer-content {
  padding-top: 34px;
}
