@import "colors";

#header {
  background-color: $secondary-color;
  color: $bg-color;
  padding: 20px;
  display: flex;
  height: 60px;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
}

#logo {
  font-weight: 600;
  padding: 0;
  display: flex;
}

nav {
  display: flex;
  margin: 0 0 0 auto;

  ul {
    list-style-type: none;
    display: flex;

    li {
      display: flex;
      padding: 0 5px;
      cursor: pointer;
      height: 35px;
    }
  }
}

a {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;

  &:hover {
    font-weight: 900;
  }

  &.active {
    font-weight: 900;
    background-color: $primary-color;
  }
}
