@import "colors";

#header {
  background-color: $secondary-color;
  color: $bg-color;
  padding: 20px;
  display: flex;
  height: 60px;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
}

#logo {
  font-weight: 600;
  padding: 0;
  display: flex;
}

#nav-icon4 {
  display: none;
}

nav {
  display: flex;
  margin: 0 0 0 auto;

  ul {
    list-style-type: none;
    display: flex;

    li {
      display: flex;
      padding: 0 5px;
      cursor: pointer;
      height: 35px;
    }
  }
}

a {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;

  &:hover {
    text-decoration: underline;
  }

  &.active {
    font-weight: 900;
    background-color: $primary-color;
  }
}

#nav-icon4 {
  width: 30px;
  height: 45px;
  position: relative;
  margin: 6px 0 6px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #d3531a;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 9px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 4px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 18px;
  left: 4px;
}

@media screen and (max-width: 992px) {
  #nav-icon4 {
    display: initial;
  }

  nav {
    display: none;
  }

  nav.open {
    position: absolute;
    display: initial;
    top: 49px;
    right: 54px;
    background-color: #ffd369;
    padding: 20px;

    ul {
      display: block;

      li {
        text-align: center;
      }
    }

    a {
      text-decoration: none;
      color: $primary-color;

      &:hover {
        text-decoration: underline;
      }

      &.active {
        color: #fff;
        font-weight: 900;
        background-color: $primary-color;
      }
    }
  }
}
